<p id="notice"><%= notice %></p>

<h1>Listing Monograph Holdings</h1>
<form accept-charset="UTF-8" action="" method="get">
  <div class="row">
    <div class="small-12">
      <%= submit_tag ("Filter") %>
      <%= text_field_tag("publisher") %>
      <%= label_tag("Publisher") %>
    </div>
  </div>
  <div class="row">
    <div class="small-5 columns">
      <h2>Collections</h2>
      <ul>
      <% @collections.each do |collection| %>
        <li><%= check_box_tag('collection[]', collection) %>
        <%= label_tag(collection) %></li>
      <% end %>
      </ul>
    </div>
    <div class="small-4 columns">
      <h2>Sub Libraries</h2>
      <ul>
      <% @sub_libraries.each do |sub_library| %>
        <li><%= check_box_tag('sub_library[]', sub_library) %>
        <%= label_tag(sub_library) %></li>
      <% end %>
      </ul>
      <h2>Material Types</h2>
      <ul>
      <% @material_types.each do |material_type| %>
        <li><%= check_box_tag('material_type[]', material_type) %>
        <%= label_tag(material_type) %></li>
      <% end %>
      </ul>
    </div>
    <div class="small-3 columns">
      <h2>Languages</h2>
      <ul>
      <% @languages.each do |language| %>
        <li><%= check_box_tag('language[]', language) %>
        <%= label_tag(language) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</form>
  <table>
  <thead>
    <tr>
      <th>Oclc number</th>
      <th>LC number</th>
      <th>Publisher</th>
      <th>Acquisition date</th>
      <th>Language</th>
      <th>Publication year</th>
      <th>Sub library</th>
      <th>Collection</th>
      <th>Material type</th>
    </tr>
  </thead>

  <tbody>
    <% @monograph_holdings.each do |monograph_holding| %>
      <tr>
        <td><%= monograph_holding.oclc_number %></td>
        <td><%= monograph_holding.lc_number %></td>
        <td><%= monograph_holding.publisher %></td>
        <td><%= monograph_holding.acquisition_date %></td>
        <td><%= monograph_holding.language %></td>
        <td><%= monograph_holding.publication_year %></td>
        <td><%= monograph_holding.sub_library %></td>
        <td><%= monograph_holding.collection %></td>
        <td><%= monograph_holding.material_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @monograph_holdings %>
<%= link_to 'New Monograph holding', new_monograph_holding_path %>
