<p id="notice"><%= notice %></p>

<h1>Listing Monograph Holdings</h1>

<table>
  <thead>
    <tr>
      <th>Oclc number</th>
      <th>LC number</th>
      <th>Publisher</th>
      <th>Acquisition date</th>
      <th>Language</th>
      <th>Publication year</th>
      <th>Sub library</th>
      <th>Collection</th>
      <th>Material type</th>
    </tr>
  </thead>

  <tbody>
    <% @monograph_holdings.each do |monograph_holding| %>
      <tr>
        <td><%= monograph_holding.oclc_number %></td>
        <td><%= monograph_holding.lc_number %></td>
        <td><%= monograph_holding.publisher %></td>
        <td><%= monograph_holding.acquisition_date %></td>
        <td><%= monograph_holding.language %></td>
        <td><%= monograph_holding.publication_year %></td>
        <td><%= monograph_holding.sub_library %></td>
        <td><%= monograph_holding.collection %></td>
        <td><%= monograph_holding.material_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @monograph_holdings %>
<%= link_to 'New Monograph holding', new_monograph_holding_path %>
