<p id="notice"><%= notice %></p>

<h1>Listing Overlap Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @overlap_groups.each do |overlap_group| %>
      <tr>
        <td><%= overlap_group.name %></td>
        <td><%= link_to 'Show', overlap_group %></td>
        <td><%= link_to 'Edit', edit_overlap_group_path(overlap_group) %></td>
        <td><%= link_to 'Destroy', overlap_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overlap group', new_overlap_group_path %>
