<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <h1>Analysis Group: <%= @analysis_group.name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <h2>Interlibrary Loan</h2>
    <table>
      <tr>
        <th></th>
        <th>Total Items</th>
        <th>Total Loans</th>
        <th>Mean</th>
        <th>Median</th>
        <th>Mode</th>
      </tr>
      <tr>
        <th>Analysis Group</th>
        <td><%= number_with_delimiter(@interlibrary_loan_items_count) %></td>
        <td><%= number_with_delimiter(@interlibrary_loan_count) %></td>
        <td><%= @interlibrary_loans_desc.mean.round(1) %></td>
        <td><%= @interlibrary_loans_desc.median.round(1) %></td>
        <td><%= @interlibrary_loans_desc.mode.round(1) %></td>
      </tr>
      <tr>
        <th>Universe</th>
        <td><%= number_with_delimiter(@interlibrary_loan_items_overall_count) %></td>
        <td><%= number_with_delimiter(@interlibrary_loan_overall_count) %></td>
        <td><%= @interlibrary_loans_overall_desc.mean.round(1) %></td>
        <td><%= @interlibrary_loans_overall_desc.median.round(1) %></td>
        <td><%= @interlibrary_loans_overall_desc.mode.round(1) %></td>
      </tr>
    </table>
  </div>
  <div class="small-12 large-6 columns">
    <h2>Circulation</h2>
    <table>
      <tr>
        <th></th>
        <th>Total Items</th>
        <th>Total Circulation</th>
        <th>Mean</th>
        <th>Median</th>
        <th>Mode</th>
      </tr>
      <tr>
        <th>Analysis Group</th>
        <td><%= number_with_delimiter(@circulation_items_count) %></td>
        <td><%= number_with_delimiter(@circulation_count) %></td>
        <td><%= @circulations_desc.mean.round(1) %></td>
        <td><%= @circulations_desc.median.round(1) %></td>
        <td><%= @circulations_desc.mode.round(1) %></td>
      </tr>
      <tr>
        <th>Universe</th>
        <td><%= number_with_delimiter(@circulation_items_overall_count) %></td>
        <td><%= number_with_delimiter(@circulation_overall_count) %></td>
        <td><%= @circulations_overall_desc.mean.round(1) %></td>
        <td><%= @circulations_overall_desc.median.round(1) %></td>
        <td><%= @circulations_overall_desc.mode.round(1) %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <h2>Overlap Group 1</h2>
    <table>
      <tr>
        <th></th>
        <th>Total Items</th>
        <th>Total Overlaps</th>
        <th>Mean</th>
        <th>Median</th>
        <th>Mode</th>
      </tr>
      <tr>
        <th>Analysis Group</th>
        <td><%= number_with_delimiter(@overlap1_item_count) %></td>
        <td><%= number_with_delimiter(@overlap1_count) %></td>
        <td><%= @overlap1_desc.mean.round(1) %></td>
        <td><%= @overlap1_desc.median.round(1) %></td>
        <td><%= @overlap1_desc.mode.round(1) %></td>
      </tr>
      <tr>
        <th>Universe</th>
        <td><%= number_with_delimiter(@overlap_items_overall_count) %></td>
        <td><%= number_with_delimiter(@overlap_overall_count) %></td>
        <td><%= @overlap_overall_desc.mean.round(1) %></td>
        <td><%= @overlap_overall_desc.median.round(1) %></td>
        <td><%= @overlap_overall_desc.mode.round(1) %></td>
      </tr>
    </table>
  </div>
  <div class="small-12 large-6 columns">
    <h2>Overlap Group 2</h2>
    <table>
      <tr>
        <th></th>
        <th>Total Items</th>
        <th>Total Overlaps</th>
        <th>Mean</th>
        <th>Median</th>
        <th>Mode</th>
      </tr>
      <tr>
        <th>Analysis Group</th>
        <td><%= @overlap2_item_count %></td>
        <td><%= @overlap2_count %></td>
        <td><%= @overlap2_desc.mean.round(1) %></td>
        <td><%= @overlap2_desc.median.round(1) %></td>
        <td><%= @overlap2_desc.mode.round(1) %></td>
      </tr>
      <tr>
        <th>Universe</th>
        <td><%= number_with_delimiter(@overlap_items_overall_count) %></td>
        <td><%= number_with_delimiter(@overlap_overall_count) %></td>
        <td><%= @overlap_overall_desc.mean.round(1) %></td>
        <td><%= @overlap_overall_desc.median.round(1) %></td>
        <td><%= @overlap_overall_desc.mode.round(1) %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <%= link_to 'Edit', edit_analysis_group_path(@analysis_group) %> |
    <%= link_to 'Back', analysis_groups_path %>
  </div>
</div>
