<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <h1>Analysis Group: <%= @analysis_group.name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <tr>
        <td></td>
        <th colspan="5">Interlibrary Loan</th>
        <th colspan="5">Circulation</th>
        <th colspan="5">Overlap 1</th>
        <th colspan="5">Overlap 2</th>
      </tr>
      <tr>
        <td></td>
        <td>Total Items</td>
        <td>Total Loans</td>
        <td>Mean</td>
        <td>Median</td>
        <td>Mode</td>
        <td>Total Items</td>
        <td>Total Circulations</td>
        <td>Mean</td>
        <td>Median</td>
        <td>Mode</td>
        <td>Total Items</td>
        <td>Total Overlaps</td>
        <td>Mean</td>
        <td>Median</td>
        <td>Mode</td>
        <td>Total Items</td>
        <td>Total Overlaps</td>
        <td>Mean</td>
        <td>Median</td>
        <td>Mode</td>
      </tr>
      <tr>
        <td>Analysis Group</td>
        <td><%= number_with_delimiter(@interlibrary_loan_items_count) %></td>
        <td><%= number_with_delimiter(@interlibrary_loan_count) %></td>
        <td><%= @interlibrary_loans_desc.mean.round(1) %></td>
        <td><%= @interlibrary_loans_desc.median.round(1) %></td>
        <td><%= @interlibrary_loans_desc.mode.round(1) %></td>
        <td><%= number_with_delimiter(@circulation_items_count) %></td>
        <td><%= number_with_delimiter(@circulation_count) %></td>
        <td><%= @circulations_desc.mean.round(1) %></td>
        <td><%= @circulations_desc.median.round(1) %></td>
        <td><%= @circulations_desc.mode.round(1) %></td>
        <td><%= number_with_delimiter(@overlap1_item_count) %></td>
        <td><%= number_with_delimiter(@overlap1_count) %></td>
        <td><%= @overlap1_desc.mean.round(1) %></td>
        <td><%= @overlap1_desc.median.round(1) %></td>
        <td><%= @overlap1_desc.mode.round(1) %></td>
        <td><%= @overlap2_item_count %></td>
        <td><%= @overlap2_count %></td>
        <td><%= @overlap2_desc.mean.round(1) %></td>
        <td><%= @overlap2_desc.median.round(1) %></td>
        <td><%= @overlap2_desc.mode.round(1) %></td>
      </tr>
      <tr>
        <td>Universe</td>
        <td><%= number_with_delimiter(@interlibrary_loan_items_overall_count) %></td>
        <td><%= number_with_delimiter(@interlibrary_loan_overall_count) %></td>
        <td><%= @interlibrary_loans_overall_desc.mean.round(1) %></td>
        <td><%= @interlibrary_loans_overall_desc.median.round(1) %></td>
        <td><%= @interlibrary_loans_overall_desc.mode.round(1) %></td>
        <td><%= number_with_delimiter(@circulation_items_overall_count) %></td>
        <td><%= number_with_delimiter(@circulation_overall_count) %></td>
        <td><%= @circulations_overall_desc.mean.round(1) %></td>
        <td><%= @circulations_overall_desc.median.round(1) %></td>
        <td><%= @circulations_overall_desc.mode.round(1) %></td>
        <td><%= number_with_delimiter(@overlap_items_overall_count) %></td>
        <td><%= number_with_delimiter(@overlap_overall_count) %></td>
        <td><%= @overlap_overall_desc.mean.round(1) %></td>
        <td><%= @overlap_overall_desc.median.round(1) %></td>
        <td><%= @overlap_overall_desc.mode.round(1) %></td>
        <td><%= number_with_delimiter(@overlap_items_overall_count) %></td>
        <td><%= number_with_delimiter(@overlap_overall_count)  %></td>
        <td><%= @overlap_overall_desc.mean.round(1) %></td>
        <td><%= @overlap_overall_desc.median.round(1) %></td>
        <td><%= @overlap_overall_desc.mode.round(1) %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <%= link_to 'Edit', edit_analysis_group_path(@analysis_group) %> |
    <%= link_to 'Back', analysis_groups_path %>
  </div>
</div>
